.button {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0.8rem 3rem;
  border-radius: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;

  &:hover {
    opacity: 0.8;
  }
}

.button.button-primary {
  background-color: #333;
  color: #fff;
}

.button.button-secondary {
  border-color: #858585;
  color: #333;
  font-weight: 900;
}
